body {
  margin: 0;
  font-family: cursive;
  font-weight: bold;
  overflow-x: hidden;
}

.home {
  color: #fafafa;
  z-index: -1 !important;
}

.home .main {
  background-image: url("./images/bg-slider4.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 750px) {
  .home .main {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.nav_bar {
  background: rgba(56, 59, 255, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  z-index: 100 !important;
}

.user{
  position: relative !important;
  top: 0;
  z-index: 0;
}
